body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  background-color: white;
  width: 500px;
  height: 800px;
  margin-top: 50px;
  border-radius: 15px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 10px 0 10px 0;
}

.info-bar__backspace {
  padding: 10px;
}

.info-bar__user {
  margin-right: 150px;
}
.info-bar__ellipsis {
  padding: 0px 10px;
}

.info-bar__call {
  margin-left: 40px;
}
.info-bar__user-temp {
  width: 10px;
  height: 5px;
  padding: 2px 5px 2px 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
}

.info-bar__user-res {
  margin-top: 4px;
  font-size: 11px;
  color: gray;
}

.info-bar img {
  width: 10px;
  height: 10px;
}

.info-bar__user-name {
  font-weight: bold;
}
